body{
    background-color: rgb(0, 0, 0);
    font-size: 30px;
    color: aliceblue;
    border: solid;
    line-height: 1.5;
}
h1{
text-align: center;
font-size: big xxx-small;
}
img{
    width: 20%;
    display: block;
    margin: auto;
}
